body,html {
    margin:0;
    height:100%;
    width:100%;
}
 
#map {
    height: 100%;
}
 
body {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
    "header header"
    "sidebar content";
}
 
.header {
    grid-area: header;
    padding:10px;
    background-color: rgb(142, 173, 122);
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-style: italic;
    font-size: 42px;
    /*font-weight: bold;*/
    /*font-variant: small-caps;*/
}
.sidebar {
    grid-area: sidebar;
    padding:10px;
    background-color: rgb(215, 207, 176);
}
.content {
    grid-area: content;
}
